{% extends "layout.html" %}
{% set active_page = "Contact" %}
{% block content %}

    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <address>
        5 The Parade
        <br/>
        Cardiff
        <br/>
        CF24 3AA
    </address>

    <address>
        <strong>School:</strong> <a href="mailto:jiangz30@cardiff.ac.uk">jiangz30@cardiff.ac.uk</a><br/>
        <strong>Personal:</strong> <a href="mailto:charlie_j107+cfportfolio@outlook.com">charlie_j107+cfportfolio@outlook.com</a>
    </address>

{% endblock %}
